{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf200
{\fonttbl\f0\fnil\fcharset0 Verdana;\f1\fnil\fcharset0 AppleColorEmoji;\f2\fnil\fcharset178 GeezaPro;
}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;\red255\green255\blue255;}
{\*\expandedcolortbl;;\cssrgb\c0\c0\c0;\cssrgb\c100000\c100000\c100000;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\deftab720
\pard\pardeftab720\sl260\partightenfactor0

\f0\fs22 \cf2 \cb3 \expnd0\expndtw0\kerning0
<?xml version="1.0" encoding="UTF-8"?>\
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">\
<plist version="1.0">\
	<dict>\
		<key>items</key>\
		<array>\
			<dict>\
				<key>assets</key>\
				<array>\
					<dict>\
						<key>kind</key>\
						<string>software-package</string>\
						<key>url</key>\
						<string>http://i8.ae/VwVb</string>\
					</dict>\
				</array>\
				<key>metadata</key>\
				<dict>\
					<key>bundle-identifier</key>\
					<string>com.toyopagroup.picaboo</string>\
					<key>bundle-version</key>\
					<string>10.23.6</string>\
					<key>kind</key> \
					<string>software</string>\
					<key>title</key>\
					<string>\

\f1 \uc0\u55357 \u56613 \u10084 \u65039 \u10084 \u65039 \u55357 \u56613 
\f0 \

\f2 \'ca\'e3
\f0  
\f2 \'c7\'e1\'d1\'dd\'da
\f0  \
SCOthman&Spoof\

\f1 \uc0\u55357 \u56613 \u10084 \u65039 \u10084 \u65039 \u55357 \u56613 
\f0 \

\f2 \'e3\'e4
\f0  
\f2 \'de\'c8\'e1
\f0 : \

\f2 \'da\'c7\'d4\'de
\f0  
\f2 \'c7\'e1\'d3\'ed\'cf\'ed\'c7
\f0 \

\f1 \uc0\u55357 \u56613 \u10084 \u65039 \u10084 \u65039 \u55357 \u56613 
\f0 \

\f2 \'cd\'d3\'c7\'c8\'ed
\f0  
\f2 \'da\'e1\'ec
\f0  
\f2 \'ca\'e6\'ed\'ca\'d1
\f0 \

\f1 \uc0\u55357 \u56613 \u10084 \u65039 \u10084 \u65039 \u55357 \u56613 
\f0 \
@cq0_tq\
\
</string>\
				</dict>\
			</dict>\
		</array>\
	</dict>\
</plist>}